/* auth_styles.css */
body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #161b22;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h1 {
    color: #fefeff;
    margin-bottom: 1.5rem;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #0d1117;
    color: #c9d1d9;
}

button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #3b3d3b;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #484d49;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.social-login button {
    width: 45%;
    background-color: #21262d;
    color: #c9d1d9;
}

.social-login button:hover {
    background-color: #30363d;
}
