/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0d1117;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

.btn {
    background-color: #101820;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Agregar espacio abajo del botón */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4e5969;
}

.btn-icon {
    background-color: transparent;
    border: none;
    color: #6c757d;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.btn-icon:hover {
    color: #92a0ad;
}

.btn-logout {
    background-color: #7f909e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.btn-logout i {
    margin-right: 10px;
}

.btn-logout:hover {
    background-color: #5a6268;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #0d1117;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile {
    text-align: center;
    margin: 20px 0;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar nav ul {
    width: 100%;
    padding: 0;
}

.sidebar nav ul li {
    width: 100%;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background-color: #21262d;
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #21262d;
    color: #fff;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #21262d;
}

/* Cards */
.cards {
    display: none;
}

.cards.active {
    display: block;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #343a40;
}

.card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.card table th,
.card table td {
    padding: 12px 15px;
    text-align: left;
}

.card table th {
    background-color: #21262d;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.card table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.card table tr:hover {
    background-color: #f1f1f1;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    align-self: flex-start;
}

/* Custom table styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #21262d;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #21262d;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #007bff;
}
