body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f4f4f4;
}

header {
    background-color: #090a0a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #d4edda;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 120px 0 20px;
    position: relative;
    z-index: 2;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #2c2c2c;
    color: #f4f4f4;
}

.search-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.search-container button:hover {
    background-color: #595d61;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 12px #000;
    transform: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    box-shadow: 1px 1px 12px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book:hover .cover {
    transition: all 0.5s;
    transform: rotateY(-80deg);
}

.details {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.book:hover .details {
    display: block;
    transform: rotateY(0);
}

footer {
    background-color: #61666b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

@media (max-width: 600px) {
    .book {
        width: 150px;
        height: 200px;
    }

    .search-container input {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .book {
        width: 180px;
        height: 240px;
    }

    .search-container input {
        width: 250px;
    }
}