.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #2a2a2a;
    color: #ccc;
    font-size: 16px;
}

.search-container input::placeholder {
    color: #777;
}

.search-container button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #2a2a2a;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #3a3a3a;
}
